<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionar Novo Distrito</title>
</head>
<body>
    <h1>Adicionar Novo Distrito</h1>
<form action="/distritos/<%= provincia_id %>/novo<%= queryParams %>" method="POST">
    <input type="text" name="nome" placeholder="Nome do Distrito" required>
    <button type="submit">Adicionar</button>
</form><br><br><br>
<a href="/<%=queryParams%>">Voltar para Inicio</a>
</body>
</html>