<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Inicial</title>
</head>
<body>
    <h1>Bem-vindo ao Sistema de Gestão de Eleições</h1>
    <p>Selecione uma das opções abaixo:</p>
    <ul>
       
        <li><a href="/provincias">Resultados - Nacional</a></li>
    </ul>
</body>
</html>
