<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionar Nova Localidade</title>
</head>
<body>
    <h1>Adicionar Nova Localidade</h1>

    

<label for="text"> cada link soh pode ser usado 20 vezes por seguranca</label>
<form action="http://localhost:3000/links/novo<%= queryParamsAdm %>" method="post"><button type="submit">Adicionar</button></form>

<label for="text"><a style="display: <%=display%>;" href="">http://localhost:3000<%= queryParams %></a></label>
<br><br><br><br>
<a href="/<%=queryParamsAdm%>">Voltar para Inicio</a>

    
</body>
</html>