<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Candidatos</title>
</head>
<body>
    <h1>Lista de Candidatos</h1>
<ul>
    <% candidatos.forEach(candidato => { %>
        <li><%= candidato.nome %> - <%= candidato.partido %></li>
    <% }) %>
</ul>
<a href="/candidatos/novo<%=queryParams%>">Adicionar Candidato</a><br><br><br>
<a href="/<%=queryParams%>">Voltar para Inicio</a>

</body>
</html>